@import "../../../styles/my-theme.scss";

.toolbar {
  display: flex; 
  justify-content: space-between;
  
  &__title{
    font-weight: bold;
    
    &:last-child {   
      color: mat-color(map_get($mat-theming-theme-dark, accent));
    }
  }
}

