$gray-color: (
  50 : #F7FAFC,
  100:#EDF2F7,
  200:#E2E8F0,
  300:#CBD5E0,
  400:#A0AEC0,
  500:#718096,
  600:#4A5568,
  700:#2D3748,
  800:#1A202C,
  900:#171923,
  A100: #ffffff,
  A200: #dde6f3,
  A400: #6992c9,
  A700: #38649d,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
  )
);

$teal-color: (
  50 :#E6FFFA,
  100:#B2F5EA,
  200:#81E6D9,
  300:#4FD1C5,
  400:#38B2AC,
  500:#319795,
  600:#2C7A7B,
  700:#285E61,
  800:#234E52,
  900:#1D4044,
  A100: #ffffff,
  A200: #fff7f4,
  A400: #fc8259,
  A700: #f44205,
  contrast: (
    50: $black-87-opacity,
    100: $black-87-opacity,
    200: $black-87-opacity,
    300: $black-87-opacity,
    400: $black-87-opacity,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: $black-87-opacity,
    A200: $black-87-opacity,
    A400: $black-87-opacity,
    A700: white,
    )
);
