@import '~@angular/material/theming';
@import './colors.scss';

@include mat-core(); 

// Typography  
$custom-typography: mat-typography-config(  
  $font-family: 'Poppins ',  
  $headline: mat-typography-level(32px, 48px, 700),  
  $body-1: mat-typography-level(16px, 24px, 500)  
);  

@include mat-base-typography($custom-typography);  
@include mat-checkbox-typography($custom-typography);  
@include mat-core($custom-typography); 
 
// Light-color
$mat-light-primary-palette: mat-palette($gray-color, 200); 
$mat-light-accent-palette:  mat-palette($teal-color, 600);

$light-theme: mat-light-theme($mat-light-primary-palette, $mat-light-accent-palette);
.light-mode {
  @include angular-material-theme($light-theme);
}

// Dark-Theme
$mat-dark-primary-palette: mat-palette($gray-color, 800); 
$mat-dark-accent-palette:  mat-palette($teal-color, 300);

$dark-theme: mat-dark-theme($mat-dark-primary-palette, $mat-dark-accent-palette);
.dark-mode {
  @include angular-material-theme($dark-theme);
}

//initial theme
@include angular-material-theme($light-theme);
